<footer>
    <div class="copy font-size-12">&copy; Campus Buzz Pvt. Ltd.</div>
    <div class="otherLinks font-size-12">
        <a href="/privacy">Privacy</a>
        <a href="/terms">Terms</a>
    </div>
</footer>