<div class="sidebar-cont">
    <div class="sidebar">
        <a href="/feed" class="sidebar-btn <%= currActive === 'feed' ? "active-sidebar-btn" : "" %>">
            <div id="btn">
                <img src="student-feed-logo.png">
            </div>
        </a>
        <a href="/club-committee" class="sidebar-btn <%= currActive === 'club-committee' ? "active-sidebar-btn" : "" %>">
            <div id="btn">
                <img src="club-commite-logo.png">
            </div>
        </a>
        <a href="/event-calander" class="sidebar-btn <%= currActive === 'event-calander' ? "active-sidebar-btn" : "" %>">
            <div id="btn">
                <img src="event-calander-logo.png">
            </div>
        </a>
        <a href="/complaint" class="sidebar-btn <%= currActive === 'complaint' ? "active-sidebar-btn" : "" %>">
            <div id="btn">
                <img src="complaint-logo.png">
            </div>
        </a>
    </div>
</div>

<script src="/sidebar.js"></script>